[Unit]
Description=CabinetOS File access: make a new password
Documentation=https://github.com/MMagTech/cabinetos/blob/main/docs/SETTINGS.md

[Service]
Type=oneshot
ExecStart=/usr/libexec/cabinetos-files newpass
